<h1><%= @bidder.name %></h1>
<h2>Bidding Screen</h2>

Time Remaining: <div id="time-remaining"></div><br>
Auction Status: <div id="auction-status"></div><br>

<div id="messages"></div>
<input id="bid-input-amount" type="number"></input>
<input id="bid-input-code" type="text"></input>
<button id="submit-bid-btn">Submit</button>
or press enter.
