<h2><%= @bidder.name %></h2>

<ul>
  <li>
    <strong>Your Campaign:</strong>
    <%= @bidder.campaign.name %>
  </li>
  <li>
    <strong>Your Campaign Description:</strong>
    <%= @bidder.campaign.description %>
  </li>
</ul>

<span><%= link "Back", to: bidder_path(@conn, :index) %></span>
