<h2>Show Bidder</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @bidder.name %>
  </li>

  <li>
    <strong>Balance:</strong>
    <%= @bidder.balance %>
  </li>

</ul>

<span><%= link "Edit", to: bidder_path(@conn, :edit, @bidder) %></span>
<span><%= link "Back", to: bidder_path(@conn, :index) %></span>
