<h2>Show Campaign</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @campaign.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @campaign.description %>
  </li>

  <li>
    <strong>Budget:</strong>
    <%= @campaign.budget %>
  </li>

</ul>

<span><%= link "Edit", to: campaign_path(@conn, :edit, @campaign) %></span>
<span><%= link "Back", to: campaign_path(@conn, :index) %></span>
