<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AdSwap</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-left">
          <ul class="nav navbar-nav">
            <li><a href="/bid">Home (bid)</a></li>
            <li><a href="/display">Scoreboard</a></li>
          </ul>
        </div>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/bidders">Bidders</a></li>
            <li><a href="/impressions">Impressions</a></li>
            <li><a href="/campaigns">Campaigns</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
