<div class="jumbotron">
  <h2>Welcome to AdSwap, the world's most informative ad exchange!</h2>
  <h2><%= link "Create Your Bidder", to: bidder_path(@conn, :new) %></h2>
</div>

<div class="row marketing">

</div>
